'''
HTML PARA HISTORIAL MATCHING TOOL POR ISRC

'''

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Work Title</th>
            <th>MLC Code</th>
            <th>ISRC Code</th>
            <th>Usages</th>
            <th>Creation Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for record in page_obj %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.obra.titulo }}</td>
            <td>{{ record.codigo_mlc.codigo_MLC }}</td>
            <td>{{ record.id_isrc.codigo_isrc }}</td>
            <td>{{ record.usos }}</td>
            <td>{{ record.fecha_creacion|date:"Y-m-d H:i:s" }}</td>
            <td onclick="openModal('{{ record.id }}', 'matching_tool_isrc')">{{ record.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="#" class="page-link-isrc" data-page="1">&laquo; First</a>
        <a href="#" class="page-link-isrc" data-page="{{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="#" class="page-link-isrc" data-page="{{ page_obj.next_page_number }}">Next</a>
        <a href="#" class="page-link-isrc" data-page="{{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
